.game-area .waiting-room {
  display: block;
}

.game-area .active-game {
  display: none;
}

.game-area.active .waiting-room {
  display: none;
}

.game-area.active .active-game {
  display: block;
}

.form-group .help-block {
  color: red;
  font-style: italic;
}